<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Syphilismin</title>
        <link rel="icon" href="../static/images/banana.png" type="image/png" />
        <link rel="stylesheet" href="../static/style_index.css" />
    </head>
    <body>
        <div class="container">
            <div class="titre">
                <h1>BIENVENUE SUR SYPHILISMIN</h1>
                <div>
                    <button onclick="window.location.href='{{url_for('game')}}'"><img src="../static/images/homme-daffaires.png" />JOUER NEIL</button>
                    <button onclick="window.location.href='{{url_for('game')}}'"><img src="../static/images/femme.png" />JOUER INÈS</button>
                </div>
            </div>
        </div>
    </body>
</html>
